.myemo
{
    background-repeat: no-repeat;
    background-size: auto;
    display: inline-block;
    vertical-align: top;
}

.laughing
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/laughing.gif);
    width: 16px;
    height: 16px;
}

.rolling
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/rolling.gif);
    width: 27px;
    height: 15px;
}

.ohgoon
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/ohgoon.gif);
    width: 23px;
    height: 16px;
}

.hehe
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/hehe.gif);
    width: 16px;
    height: 16px;
}

.crying
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/crying.gif);
    width: 20px;
    height: 15px;
}

.angry
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/angry.gif);
    width: 30px;
    height: 16px;
}

.batting
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/batting.gif);
    width: 16px;
    height: 16px;
}

.blushing
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/blushing.gif);
    width: 16px;
    height: 16px;
}

.broken
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/broken.gif);
    width: 16px;
    height: 16px;
}

.devil
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/devil.gif);
    width: 16px;
    height: 16px;
}

.hug
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/hug.gif);
    width: 37px;
    height: 16px;
}

.love
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/love.gif);
    width: 16px;
    height: 16px;
}

.smug
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/smug.gif);
    width: 16px;
    height: 16px;
}

.whew
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/whew.gif);
    width: 30px;
    height: 16px;
}

.worried
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/worried.gif);
    width: 16px;
    height: 16px;
}

.bye
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/bye.gif);
    width: 25px;
    height: 16px;
}

.callme
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/callme.gif);
    width: 25px;
    height: 16px;
}

.clown
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/clown.gif);
    width: 25px;
    height: 16px;
}

.daydreaming
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/daydreaming.gif);
    width: 20px;
    height: 16px;
}

.donttell
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/donttell.gif);
    width: 16px;
    height: 16px;
}

.loser
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/loser.gif);
    width: 21px;
    height: 16px;
}

.nerd
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/nerd.gif);
    width: 21px;
    height: 16px;
}

.nottalking
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/nottalking.gif);
    width: 16px;
    height: 16px;
}

.phone
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/phone.gif);
    width: 28px;
    height: 16px;
}

.raised
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/raised.gif);
    width: 16px;
    height: 16px;
}

.sick
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/sick.gif);
    width: 16px;
    height: 16px;
}

.silly
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/silly.gif);
    width: 21px;
    height: 16px;
}

.sleepy
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/sleepy.gif);
    width: 19px;
    height: 16px;
}

.straight
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/straight.gif);
    width: 16px;
    height: 16px;
}

.talkhand
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/talkhand.gif);
    width: 16px;
    height: 16px;
}

.timeout
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/timeout.gif);
    width: 27px;
    height: 16px;
}

.witsend
{
    background-image: url(https://github.com/chinhodado/ym_emo_fb/raw/master/images/witsend.gif);
    width: 39px;
    height: 16px;
}