.myemo
{
    background-repeat: no-repeat;
    background-size: auto 16px;
    display: inline-block;
    vertical-align: top;
}

.laughing
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/laughing.gif');
    width: 16px;
    height: 16px;
}

.rolling
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/rolling.gif');
    width: 27px;
    height: 16px;
}

.ohgoon
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/ohgoon.gif');
    width: 23px;
    height: 16px;
}

.hehe
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/hehe.gif');
    width: 16px;
    height: 16px;
}

.crying
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/crying.gif');
    width: 20px;
    height: 16px;
}

.angry
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/angry.gif');
    width: 30px;
    height: 16px;
}

.batting
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/batting.gif');
    width: 16px;
    height: 16px;
}

.blushing
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/blushing.gif');
    width: 16px;
    height: 16px;
}

.broken
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/broken.gif');
    width: 16px;
    height: 16px;
}

.devil
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/devil.gif');
    width: 16px;
    height: 16px;
}

.hug
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/hug.gif');
    width: 37px;
    height: 16px;
}

.love
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/love.gif');
    width: 16px;
    height: 16px;
}

.smug
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/smug.gif');
    width: 16px;
    height: 16px;
}

.whew
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/whew.gif');
    width: 30px;
    height: 16px;
}

.worried
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/worried.gif');
    width: 16px;
    height: 16px;
}

.bye
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/bye.gif');
    width: 25px;
    height: 16px;
}

.callme
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/callme.gif');
    width: 25px;
    height: 16px;
}

.clown
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/clown.gif');
    width: 25px;
    height: 16px;
}

.daydreaming
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/daydreaming.gif');
    width: 20px;
    height: 16px;
}

.donttell
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/donttell.gif');
    width: 16px;
    height: 16px;
}

.loser
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/loser.gif');
    width: 21px;
    height: 16px;
}

.nerd
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/nerd.gif');
    width: 21px;
    height: 16px;
}

.notalking
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/notalking.gif');
    width: 16px;
    height: 16px;
}

.phone
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/phone.gif');
    width: 28px;
    height: 16px;
}

.raised
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/raised.gif');
    width: 16px;
    height: 16px;
}

.sick
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/sick.gif');
    width: 16px;
    height: 16px;
}

.silly
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/silly.gif');
    width: 21px;
    height: 16px;
}

.sleepy
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/sleepy.gif');
    width: 19px;
    height: 16px;
}

.straight
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/straight.gif');
    width: 16px;
    height: 16px;
}

.talkhand
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/talkhand.gif');
    width: 16px;
    height: 16px;
}

.timeout
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/timeout.gif');
    width: 27px;
    height: 16px;
}

.witsend
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/witsend.gif');
    width: 39px;
    height: 16px;
}

.applause
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/applause.gif');
    width: 16px;
    height: 16px;
}

.beatup
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/beatup.gif');
    width: 16px;
    height: 16px;
}

.bringit
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/bringit.gif');
    width: 25px;
    height: 16px;
}

.dancing
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/dancing.gif');
    width: 24px;
    height: 16px;
}

.doh
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/doh.gif');
    width: 22px;
    height: 16px;
}

.dontknow
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/dontknow.gif');
    width: 36px;
    height: 16px;
}

.dontsee
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/dontsee.gif');
    width: 23px;
    height: 16px;
}

.drooling
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/drooling.gif');
    width: 16px;
    height: 16px;
}

.frustrated
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/frustrated.gif');
    width: 16px;
    height: 16px;
}

.hipno
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/hipno.gif');
    width: 16px;
    height: 16px;
}

.liar
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/liar.gif');
    width: 16px;
    height: 16px;
}

.money
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/money.gif');
    width: 16px;
    height: 16px;
}

.nail
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/nail.gif');
    width: 32px;
    height: 16px;
}

.notworthy
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/notworthy.gif');
    width: 29px;
    height: 16px;
}

.party
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/party.gif');
    width: 34px;
    height: 16px;
}

.peace
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/peace.gif');
    width: 20px;
    height: 16px;
}

.phbbt
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/phbbt.gif');
    width: 16px;
    height: 16px;
}

.praying
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/praying.gif');
    width: 16px;
    height: 16px;
}

.rockon
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/rockon.gif');
    width: 29px;
    height: 16px;
}

.shame
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/shame.gif');
    width: 20px;
    height: 16px;
}

.sigh
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/sigh.gif');
    width: 22px;
    height: 16px;
}

.thinking
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/thinking.gif');
    width: 16px;
    height: 16px;
}

.thumbdown
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/thumbdown.gif');
    width: 25px;
    height: 16px;
}

.thumbup
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/thumbup.gif');
    width: 35px;
    height: 16px;
}

.waiting
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/waiting.gif');
    width: 21px;
    height: 16px;
}

.whistling
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/whistling.gif');
    width: 20px;
    height: 16px;
}

.yawn
{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/yawn.gif');
    width: 16px;
    height: 16px;
}